<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.sibusiso.weep"
        versionCode = "1.0" 
        version     = "1.0.0" >

		<!-- versionCode is optional and Android only -->

		<name>Weep</name>

		<description>
			Developed and Design by we Code 
		</description>

		<author href="https://build.phonegap.com" email="sibusiso_ppsd@yahoo.com">
			We Code
		</author>
	
		
	
		
		<icon src="picl.jpg" gap:platform="android" gap:qualifier="ldpi" />
		<icon src="pic1.png" gap:platform="android" gap:qualifier="mdpi" />
		<icon src="pic1.png" gap:platform="android" gap:qualifier="hdpi" />
		<icon src="pic1.png" gap:platform="android" gap:qualifier="xhdpi" />
		<icon src="pic1.png" gap:platform="android" gap:qualifier="xxhdpi" />

		
		
		<gap:platform name="ios" />
		<gap:platform name="android" />
		<gap:platform name="winphone" />
		
		<feature name="debug-server" required="true">
			<param name="domain" value="http://debug.custom.com"/>
			<param name="key" value="some_unique_key"/>
		</feature>

		<gap:splash src="icon/splash.jpg" />
		<gap:splash src="icon/splash1.jpg" width="320" height="480" />
		<gap:splash src="icon/splash2.jpg" width="640" height="960" />
		<gap:splash src="icon/splash3.jpg" width="768" height="1024" />
		
	</widget>
