<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.sibusiso.weep"
        versionCode = "1.0" 
        version     = "1.0.0" >

		<!-- versionCode is optional and Android only -->

		<name>weep</name>

		<description>
			Developed and Design by Sibusiso Mthimunye 
		</description>

		<author href="https://build.phonegap.com" email="sibusiso_ppsd@yahoo.com">
			Sibusiso Mthimunye
		</author>

		<gap:platform name="ios" />
		<gap:platform name="android" />
		<gap:platform name="winphone" />
		
		<feature name="debug-server" required="true">
			<param name="domain" value="http://debug.custom.com"/>
			<param name="key" value="some_unique_key"/>
		</feature>


	</widget>
